
  <div class="container-fluid p-0">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner ">
          <div class="carousel-item active" data-bs-interval="2200">
            <img src="../images/caruvaron.jpg" class="d-block w-100" alt="..." width="100%" height="550px">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2200">
            <img src="../images/caruvaron1.jpg" class="d-block w-100" alt="..."  width="100%" height="550px">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item"data-bs-interval="2200">
            <img src="../images/caruvaron22.png" class="d-block w-100" alt="..."  width="100%" height="550px">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </div>
  <div class="textomenu">PRODUCTOS GENERALES</div>
  <div class="container-fluid  m-0 p-3 mt-4 row">
    
    <div class="col-lg-3 col-md-4 col-ms-6 p-11"  >
        <div class="card " style="min-height: auto;">
        <img src="../images/alphacool.png" class="card-img-top" alt="..."style="height: 400px; width: 470px">
        <div class="card-body">
          <h5 class="card-title">POLO POWER | ALPHA NEGRO</h5>
          <p class="card-text m-0">Material - ALPHACOOL
            <br>(90%  Polyester + 10% Spandex) </p>
          <p class="m-0" style="width: 302px; height: 40px; display: flex; 
          align-items: center; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 20px; color: red; font-weight: 700;"> S/79.99
            <img src="../images/estrellas.png" alt="" width="130px" height="70px" style="margin-left: 200px;">
          </p>
          
          
          <br>
          <a href="detalles.html" class="cre btn btn-danger"  style="width:  180px;"   >ver detalles</a>
          <a href="carrito.html" class="cre btn btn-dark" style="width: 200px;"      >Agregar al carrito
            <img src="../images/carritoblanco.png" alt="" width="25" height="25" style="margin-left: 5px;">
          </a>
          
        </div>
        </div>
      </div>
      <div class="  col-lg-3 col-md-4 col-ms-6 p-11"  >
        <div class="card">
        <img src="../images/hombres044.png" class="card-img-top" alt="..." style="height: 400px; width: 440px">
        <div class="card-body">
          <h5 class="card-title">CARGO SHORT | GRIS | CON LICRAS</h5>
          <p class="card-text m-0">Bolsillo  cargo con cierre 
            <br> (porta tollas)</p>
          <p class="m-0" style="width: 302px; height: 40px; display: flex; 
          align-items: center; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 20px; color: red; font-weight: 700;"> S/79.99
            <img src="../images/estrellas.png" alt="" width="130px" height="70px" style="margin-left: 200px;">
          </p>
          
          
          <br>
          <a href="detalles.html" class="cre btn btn-danger"  style="width:  180px;"   >ver detalles</a>
          <a href="carrito.html" class="cre btn btn-dark" style="width: 200px;"      >Agregar al carrito
            <img src="../images/carritoblanco.png" alt="" width="25" height="25" style="margin-left: 5px;">
          </a>
        </div>
        </div>
    </div>
    <div class=" col-lg-3 col-md-4 col-ms-6 p-11"  >
        <div class="card">
        <img src="../images/hombres022.png" class="card-img-top" alt="..."style=" height: 400px; width: 440px">
        <div class="card-body">
          <h5 class="card-title">VIVIDI DEPORTIVO |  MELANGE DE HOMBRE</h5>
          <p class="card-text m-0">MATERIAL
          <br> 100% algodon (Cortes super caido)</p>
          <p class="m-0" style="width: 302px; height: 40px; display: flex; 
          align-items: center; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 20px; color: red; font-weight: 700;"> S/79.99
            <img src="../images/estrellas.png" alt="" width="130px" height="70px" style="margin-left: 200px;">
          </p>
          
          
          <br>
          <a href="detalles.html" class="cre btn btn-danger"  style="width:  180px;"   >ver detalles</a>
          <a href="carrito.html" class="cre btn btn-dark" style="width: 200px;"      >Agregar al carrito
            <img src="../images/carritoblanco.png" alt="" width="25" height="25" style="margin-left: 5px;">
          </a>
        </div>
        </div>
    </div>
    <div class=" col-lg-3 col-md-4 col-ms-6 p-11"  >
        <div class="card">
        <img src="../images/hombres033.png" class="card-img-top" alt="..."style="height: 400px; width: 440px;">
        <div class="card-body">
          <h5 class="card-title">VIVIDI | RIB | NEGRO</h5>
          <p class="card-text m-0">
            MATERIAL<br> 100% algodon 
          </p>
          <p class="m-0" style="width: 302px; height: 40px; display: flex; 
          align-items: center; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 20px; color: red; font-weight: 700;"> S/79.99
            <img src="../images/estrellas.png" alt="" width="130px" height="70px" style="margin-left: 200px;">
          </p>
          
          
          <br>
          <a href="detalles.html" class="cre btn btn-danger"  style="width:  180px;"   >ver detalles</a>
          <a href="carrito.html" class="cre btn btn-dark" style="width: 200px;"      >Agregar al carrito
            <img src="../images/carritoblanco.png" alt="" width="25" height="25" style="margin-left: 5px;">
          </a>
        </div>
        </div>
    </div>
<div class="textomenu">PRODUCTOS GENERALES</div>
    <div class="container-fluid p-0">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner ">
          <div class="carousel-item active" data-bs-interval="2200">
            <img src="../images/caruvaron.jpg" class="d-block w-100" alt="..." width="100%" height="550px">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2200">
            <img src="../images/caruvaron1.jpg" class="d-block w-100" alt="..."  width="100%" height="550px">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item"data-bs-interval="2200">
            <img src="../images/caruvaron22.png" class="d-block w-100" alt="..."  width="100%" height="550px">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  

    <div class="container-fluid  m-0 p-3 mt-4 row">
    
      <div class="col-lg-3 col-md-4 col-ms-6 p-11"  >
          <div class="card " style="min-height: auto;">
          <img src="../images/alphacool.png" class="card-img-top" alt="..."style="height: 400px; width: 470px">
          <div class="card-body">
            <h5 class="card-title">POLO POWER | ALPHA NEGRO</h5>
            <p class="card-text m-0">Material - ALPHACOOL
              <br>(90%  Polyester + 10% Spandex) </p>
            <p class="m-0" style="width: 302px; height: 40px; display: flex; 
            align-items: center; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 20px; color: red; font-weight: 700;"> S/79.99
              <img src="../images/estrellas.png" alt="" width="130px" height="70px" style="margin-left: 200px;">
            </p>
            
            
            <br>
            <a href="detalles.html" class="cre btn btn-danger"  style="width:  180px;"   >ver detalles</a>
            <a href="carrito.html" class="cre btn btn-dark" style="width: 200px;"      >Agregar al carrito
              <img src="../images/carritoblanco.png" alt="" width="25" height="25" style="margin-left: 5px;">
            </a>
            
          </div>
          </div>
        </div>
        <div class="  col-lg-3 col-md-4 col-ms-6 p-11"  >
          <div class="card">
          <img src="../images/hombres044.png" class="card-img-top" alt="..." style="height: 400px; width: 440px">
          <div class="card-body">
            <h5 class="card-title">CARGO SHORT | GRIS | CON LICRAS</h5>
            <p class="card-text m-0">Bolsillo  cargo con cierre 
              <br> (porta tollas)</p>
            <p class="m-0" style="width: 302px; height: 40px; display: flex; 
            align-items: center; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 20px; color: red; font-weight: 700;"> S/79.99
              <img src="../images/estrellas.png" alt="" width="130px" height="70px" style="margin-left: 200px;">
            </p>
            
            
            <br>
            <a href="detalles.html" class="cre btn btn-danger"  style="width:  180px;"   >ver detalles</a>
            <a href="carrito.html" class="cre btn btn-dark" style="width: 200px;"      >Agregar al carrito
              <img src="../images/carritoblanco.png" alt="" width="25" height="25" style="margin-left: 5px;">
            </a>
          </div>
          </div>
      </div>
      <div class=" col-lg-3 col-md-4 col-ms-6 p-11"  >
          <div class="card">
          <img src="../images/hombres022.png" class="card-img-top" alt="..."style=" height: 400px; width: 440px">
          <div class="card-body">
            <h5 class="card-title">VIVIDI DEPORTIVO |  MELANGE DE HOMBRE</h5>
            <p class="card-text m-0">MATERIAL
            <br> 100% algodon (Cortes super caido)</p>
            <p class="m-0" style="width: 302px; height: 40px; display: flex; 
            align-items: center; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 20px; color: red; font-weight: 700;"> S/79.99
              <img src="../images/estrellas.png" alt="" width="130px" height="70px" style="margin-left: 200px;">
            </p>
            
            
            <br>
            <a href="detalles.html" class="cre btn btn-danger"  style="width:  180px;"   >ver detalles</a>
            <a href="carrito.html" class="cre btn btn-dark" style="width: 200px;"      >Agregar al carrito
              <img src="../images/carritoblanco.png" alt="" width="25" height="25" style="margin-left: 5px;">
            </a>
          </div>
          </div>
      </div>
      <div class=" col-lg-3 col-md-4 col-ms-6 p-11"  >
          <div class="card">
          <img src="../images/hombres033.png" class="card-img-top" alt="..."style="height: 400px; width: 440px;">
          <div class="card-body">
            <h5 class="card-title">VIVIDI | RIB | NEGRO</h5>
            <p class="card-text m-0">
              MATERIAL<br> 100% algodon 
            </p>
            <p class="m-0" style="width: 302px; height: 40px; display: flex; 
            align-items: center; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 20px; color: red; font-weight: 700;"> S/79.99
              <img src="../images/estrellas.png" alt="" width="130px" height="70px" style="margin-left: 200px;">
            </p>
            
            
            <br>
            <a href="detalles.html" class="cre btn btn-danger"  style="width:  180px;"   >ver detalles</a>
            <a href="carrito.html" class="cre btn btn-dark" style="width: 200px;"      >Agregar al carrito
              <img src="../images/carritoblanco.png" alt="" width="25" height="25" style="margin-left: 5px;">
            </a>
          </div>
          </div>
      </div>
</body>
